## Carga de datos

In [ ]:
# librerias necesarias
from carga_datos import cargarDatos

In [4]:
# cargar la base de datos y convertir en un DF
df = cargarDatos()

       tipo_credito      fecha_prestamo  capital_prestado  plazo_meses  \
0                 7 2024-12-21 11:31:35         3692160.0           10
1                 4 2025-04-22 09:47:35          840000.0            6
2                 9 2026-01-08 12:22:40         5974028.4           10
3                 4 2025-08-04 12:04:10         1671240.0            6
4                 9 2025-04-26 11:24:26         2781636.0           11
...             ...                 ...               ...          ...
10758             9 2025-01-19 16:18:28         2414886.0           10
10759             4 2025-01-10 16:40:21         2916000.0           24
10760             4 2025-06-19 14:28:47         4249200.0           36
10761             9 2025-03-02 11:53:41         1283307.6           10
10762             4 2024-12-08 12:46:03         3915000.0           12

       edad_cliente   tipo_laboral  salario_cliente  total_otros_prestamos  \
0                42  Independiente          8000000                2500000
1                60       Empleado          3000000                2000000
2                36  Independiente          4036000                 829000
3                48       Empleado          1524547                 498000
4                44       Empleado          5000000                4000000
...             ...            ...              ...                    ...
10758            29  Independiente          3000000                 300000
10759            27       Empleado          2500000                 400000
10760            24       Empleado          2000000                 500000
10761            26       Empleado          1500000                 600000
10762            24  Independiente          4000000                2000000

       cuota_pactada    puntaje  ...  saldo_mora  saldo_total  \
0             341296  88.768094  ...         0.0      51258.0
1             124876  95.227787  ...         0.0       8673.0
2             529554  47.613894  ...         0.0      18702.0
3             252420  95.227787  ...         0.0      15782.0
4             217037  95.227787  ...         0.0     204804.0
...              ...        ...  ...         ...          ...
10758         204819  13.134355  ...       172.0       1112.0
10759         127460  55.973342  ...         0.0       9771.0
10760         140042  47.613894  ...         0.0       1603.0
10761         108958  42.888527  ...         0.0       8488.0
10762         306174  59.324480  ...         0.0       5046.0

       saldo_principal  saldo_mora_codeudor  creditos_sectorFinanciero  \
0              51258.0                  0.0                          5
1               8673.0                  0.0                          0
2              18702.0                  0.0                          3
3              15782.0                  0.0                          3
4             204804.0                  0.0                          3
...                ...                  ...                        ...
10758           1112.0                  NaN                          0
10759           9771.0                  0.0                          1
10760           1603.0                  0.0                          1
10761           8488.0                  0.0                          2
10762           5046.0                  0.0                          2

       creditos_sectorCooperativo  creditos_sectorReal  \
0                               0                    0
1                               0                    2
2                               0                    0
3                               0                    0
4                               0                    1
...                           ...                  ...
10758                           0                    1
10759                           0                    4
10760                           0                    0
10761                           0                    3
10762                           1                    1

       promedio_ingresos_datacredito  tendencia_ingresos  Pago_atiempo
0                           908526.0             Estable             1
1                           939017.0           Creciente             1
2                                NaN                 NaN             0
3                          1536193.0           Creciente             1
4                           933473.0           Creciente             1
...                              ...                 ...           ...
10758                            NaN                 NaN             0
10759                      1958333.0           Creciente             0
10760                       998859.0           Creciente             0
10761                            NaN                 NaN             0
10762                            NaN                 NaN             0

[10763 rows x 23 columns]

In [5]:
df.head()

,tipo_credito,fecha_prestamo,capital_prestado,plazo_meses,edad_cliente,tipo_laboral,salario_cliente,total_otros_prestamos,cuota_pactada,puntaje,...,saldo_mora,saldo_total,saldo_principal,saldo_mora_codeudor,creditos_sectorFinanciero,creditos_sectorCooperativo,creditos_sectorReal,promedio_ingresos_datacredito,tendencia_ingresos,Pago_atiempo
0,7,2024-12-21 11:31:35,3692160.0,10,42,Independiente,8000000,2500000,341296,88.768094,...,0.0,51258.0,51258.0,0.0,5,0,0,908526.0,Estable,1
1,4,2025-04-22 09:47:35,840000.0,6,60,Empleado,3000000,2000000,124876,95.227787,...,0.0,8673.0,8673.0,0.0,0,0,2,939017.0,Creciente,1
2,9,2026-01-08 12:22:40,5974028.4,10,36,Independiente,4036000,829000,529554,47.613894,...,0.0,18702.0,18702.0,0.0,3,0,0,NaN,NaN,0
3,4,2025-08-04 12:04:10,1671240.0,6,48,Empleado,1524547,498000,252420,95.227787,...,0.0,15782.0,15782.0,0.0,3,0,0,1536193.0,Creciente,1
4,9,2025-04-26 11:24:26,2781636.0,11,44,Empleado,5000000,4000000,217037,95.227787,...,0.0,204804.0,204804.0,0.0,3,0,1,933473.0,Creciente,1

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10763 entries, 0 to 10762
Data columns (total 23 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   tipo_credito                   10763 non-null  int64
 1   fecha_prestamo                 10763 non-null  datetime64[ns]
 2   capital_prestado               10763 non-null  float64
 3   plazo_meses                    10763 non-null  int64
 4   edad_cliente                   10763 non-null  int64
 5   tipo_laboral                   10763 non-null  object
 6   salario_cliente                10763 non-null  int64
 7   total_otros_prestamos          10763 non-null  int64
 8   cuota_pactada                  10763 non-null  int64
 9   puntaje                        10763 non-null  float64
 10  puntaje_datacredito            10757 non-null  float64
 11  cant_creditosvigentes          10763 non-null  int64
 12  huella_consulta                10763 non-null  int64
 13  saldo_mora                     10607 non-null  float64
 14  saldo_total                    10607 non-null  float64
 15  saldo_principal                10358 non-null  float64
 16  saldo_mora_codeudor            10173 non-null  float64
 17  creditos_sectorFinanciero      10763 non-null  int64
 18  creditos_sectorCooperativo     10763 non-null  int64
 19  creditos_sectorReal            10763 non-null  int64
 20  promedio_ingresos_datacredito  7833 non-null   float64
 21  tendencia_ingresos             7831 non-null   object
 22  Pago_atiempo                   10763 non-null  int64
dtypes: datetime64[ns](1), float64(8), int64(12), object(2)
memory usage: 1.9+ MB

In [8]:
# identificar valores faltantes

(df.isnull().mean()*100).sort_values(ascending=False)

tendencia_ingresos               27.241475
promedio_ingresos_datacredito    27.222893
saldo_mora_codeudor               5.481743
saldo_principal                   3.762891
saldo_total                       1.449410
saldo_mora                        1.449410
puntaje_datacredito               0.055747
tipo_credito                      0.000000
huella_consulta                   0.000000
creditos_sectorReal               0.000000
creditos_sectorCooperativo        0.000000
creditos_sectorFinanciero         0.000000
cant_creditosvigentes             0.000000
fecha_prestamo                    0.000000
puntaje                           0.000000
cuota_pactada                     0.000000
total_otros_prestamos             0.000000
salario_cliente                   0.000000
tipo_laboral                      0.000000
edad_cliente                      0.000000
plazo_meses                       0.000000
capital_prestado                  0.000000
Pago_atiempo                      0.000000
dtype: float64

In [10]:
df['tendencia_ingresos'].unique

<bound method Series.unique of 0          Estable
1        Creciente
2              NaN
3        Creciente
4        Creciente
           ...
10758          NaN
10759    Creciente
10760    Creciente
10761          NaN
10762          NaN
Name: tendencia_ingresos, Length: 10763, dtype: object>

# continuar el eda para llevar estos cambios a github (repositorio remoto en la nube)

hacer pull request para hacer merge (unir) estos cambios en el local al remoto